@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font: inherit;
	color: inherit;
	background: transparent;
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	cursor: default;
	line-height: 1.15;
}

body {
	font-size: 1.6em;
	line-height: 1.15;
	letter-spacing: .5px;
	word-spacing: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	background-color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	min-width: 300px;
}

::-webkit-scrollbar {
	display: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

fieldset {
	display: inline-block;
}

time {
	text-decoration: underline;
}

img,
object,
embed {
	max-width: 100%
}

img {
	border-style: none;
}

blockquote,
cite,
dfn,
i {
	font-style: italic;
}

b,
strong,
em {
	font-weight: bold
}

small {
	font-size: 80%
}

a {
	text-decoration: none;
	display: inline-block;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

label {
	display: inline-block;
	vertical-align: middle;
	line-height: 27px;
}

input,
button {
	border: 1px solid #ccc;
}

button,
input,
select,
textarea {
	border-radius: 0;
}

button,
select {
	text-transform: none;
}

hr {
	border: 1px solid #ccc;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative
}

sup {
	top: -0.5rem
}

sub {
	bottom: -0.25rem
}

mark {
	background: #ff0;
	color: #000
}

abbr {
	border-bottom: none;
	text-decoration: underline;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

select,
progress {
	vertical-align: middle;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal;
	text-align: left;
}

textarea {
	overflow: auto;
	resize: vertical;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 0 5px;
	vertical-align: top;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	line-height: 25px;
	background-color: #ddd;
	padding: 0 15px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"] {
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="range"],
input[type="color"] {
	margin-left: 5px;
}

input[type="range"] {
	vertical-align: bottom;
}

select {
	border: 1px solid #ccc;
	width: 150px;
	box-sizing: border-box;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
}

option {
	font-size: 13px;
}

pre[class*=language-] {
	margin: 0 20px 20px 20px;
}

code[class*=language-],
pre[class*=language-] {
	font-size: 16px;
	line-height: 24px;
}

.page {
	max-width: 1700px;
	margin: 0 auto;
	height: 100%;
}

.progress-bar-container {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 8px;
	background: transparent;
	z-index: 100;
}

.progress-bar {
	width: 0%;
	height: 5px;
	background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.navigation-bar {
	display: none;
}

.fa-js-square {
	color: #F7DF1E;
	font-size: 2rem;
}

.fa-bars {
	color: #146ebe;
	font-size: 2rem;
	cursor: pointer;
}

.dropdown-btn {
	background-color: transparent;
	border: none;
	padding: 0;
}

.header-navigation-bar-right {
	text-align: right;
	padding: 7px 0;
}

.dropdown-menu {
	position: absolute;
	height: 400px;
	top: 70px;
	right: 0;
	left: 0;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	display: none;
}

.documentation-book {
	display: grid;
	grid-template-areas: "sidebar document document";
	grid-template-columns: 300px 1fr 1fr;
	gap: 20px;
	padding: 20px;
}

.sidebar {
	display: grid;
	height: 100vh;
	grid-area: sidebar;
	background-color: #f0f0f0;
	padding: 20px 10px;
	border-radius: 10px;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	overflow-y: hidden;
}

.sidebar-nav {
	padding-left: 10px;
	overflow-y: auto;
}

.nav-link {
	width: 100%;
	color: #444444;
	font: 500 1rem/1.25rem 'Inconsolata', monospace;
	letter-spacing: 0.025rem;
	border-radius: 5px;
	padding: 3px 5px;
}

.nav-link:hover {
	background-color: #ffffff;
	color: #000;
	transition: .15s;
}

.document {
	grid-area: document;
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

.documentation-body strong {
	font-weight: 500;
	font-style: italic;
}

.documentation-body h2,
.documentation-body h3,
.documentation-body h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	margin: 30px 0 10px 0;
	padding: 0 20px;
}

.documentation-body h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0 20px;
}

.jquery,
.javascript {
	margin: 0 0 20px 0;
	padding: 0 20px;
}

.see-more {
	font-size: 0.8rem;
	color: #575757;
}

.documentation-body a:hover {
	text-decoration: underline;
}

.images-jquery-vs-javascript {
	background-image: url(../images/jquery-and-js-books.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* height: 650px; */
	height: calc(100vh - 500px);
	border-radius: 10px;
}

.js-vs-jquery {
	margin: 30px auto;
	padding: 0 20px;
	text-align: left;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.5rem;
	background: #2575AC;
	background: -webkit-linear-gradient(to right, #C9D706 0%, #2575AC 25%);
	background: -moz-linear-gradient(to right, #C9D706 0%, #2575AC 25%);
	background: linear-gradient(to right, #C9D706 0%, #2575AC 25%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

}

.copy-to-clipboard {
	background-color: #ffffff;
	margin: 0 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: end;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0 0 0 / 20%);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0 0 0 / 20%);
	box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
}

.code {
	background-color: #2d2d2d;
	font-family: courier, monospace;
	padding: 0 3px;
	margin: 0 20px 20px 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
	-moz-box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
	box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
	overflow-x: auto;
	overflow-y: hidden;
}

.fa-copy,
.fa-circle-check {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: rgb(211, 211, 211);
	padding: 10px;
	border-radius: 100%;
	float: right;
	overflow: hidden;
	text-shadow: 1px 1px #a5a5a5, 2px 2px #a5a5a5, 3px 3px #a5a5a5,
		4px 4px #a5a5a5, 5px 5px #a5a5a5, 6px 6px #a5a5a5, 7px 7px #a5a5a5,
		8px 8px #a5a5a5, 9px 9px #a5a5a5, 10px 10px #a5a5a5, 11px 11px #a5a5a5,
		12px 12px #a5a5a5, 13px 13px #a5a5a5, 14px 14px #a5a5a5, 15px 15px #a5a5a5,
		16px 16px #a5a5a5, 17px 17px #a5a5a5, 18px 18px #a5a5a5, 19px 19px #a5a5a5,
		20px 20px #a5a5a5, 21px 21px #a5a5a5, 22px 22px #a5a5a5, 23px 23px #a5a5a5,
		24px 24px #a5a5a5, 25px 25px #a5a5a5, 26px 26px #a5a5a5, 27px 27px #a5a5a5,
		28px 28px #a5a5a5, 29px 29px #a5a5a5, 30px 30px #a5a5a5, 31px 31px #a5a5a5,
		32px 32px #a5a5a5, 33px 33px #a5a5a5, 34px 34px #a5a5a5, 35px 35px #a5a5a5,
		36px 36px #a5a5a5, 37px 37px #a5a5a5, 38px 38px #a5a5a5, 39px 39px #a5a5a5,
		40px 40px #a5a5a5, 41px 41px #a5a5a5, 42px 42px #a5a5a5, 43px 43px #a5a5a5,
		44px 44px #a5a5a5, 45px 45px #a5a5a5, 46px 46px #a5a5a5, 47px 47px #a5a5a5,
		48px 48px #a5a5a5, 49px 49px #a5a5a5, 50px 50px #a5a5a5, 51px 51px #a5a5a5,
		52px 52px #a5a5a5, 53px 53px #a5a5a5, 54px 54px #a5a5a5, 55px 55px #a5a5a5,
		56px 56px #a5a5a5, 57px 57px #a5a5a5, 58px 58px #a5a5a5, 59px 59px #a5a5a5,
		60px 60px #a5a5a5, 61px 61px #a5a5a5, 62px 62px #a5a5a5, 63px 63px #a5a5a5,
		64px 64px #a5a5a5, 65px 65px #a5a5a5, 66px 66px #a5a5a5, 67px 67px #a5a5a5,
		68px 68px #a5a5a5, 69px 69px #a5a5a5, 70px 70px #a5a5a5, 71px 71px #a5a5a5,
		72px 72px #a5a5a5, 73px 73px #a5a5a5, 74px 74px #a5a5a5, 75px 75px #a5a5a5,
		76px 76px #a5a5a5, 77px 77px #a5a5a5, 78px 78px #a5a5a5, 79px 79px #a5a5a5,
		80px 80px #a5a5a5, 81px 81px #a5a5a5, 82px 82px #a5a5a5, 83px 83px #a5a5a5,
		84px 84px #a5a5a5, 85px 85px #a5a5a5, 86px 86px #a5a5a5, 87px 87px #a5a5a5,
		88px 88px #a5a5a5, 89px 89px #a5a5a5, 90px 90px #a5a5a5, 91px 91px #a5a5a5,
		92px 92px #a5a5a5, 93px 93px #a5a5a5, 94px 94px #a5a5a5, 95px 95px #a5a5a5,
		96px 96px #a5a5a5, 97px 97px #a5a5a5, 98px 98px #a5a5a5, 99px 99px #a5a5a5,
		100px 100px #a5a5a5, 101px 101px #a5a5a5, 102px 102px #a5a5a5, 103px 103px #a5a5a5,
		104px 104px #a5a5a5, 105px 105px #a5a5a5, 106px 106px #a5a5a5, 107px 107px #a5a5a5,
		108px 108px #a5a5a5, 109px 109px #a5a5a5, 110px 110px #a5a5a5, 111px 111px #a5a5a5,
		112px 112px #a5a5a5, 113px 113px #a5a5a5, 114px 114px #a5a5a5, 115px 115px #a5a5a5,
		116px 116px #a5a5a5, 117px 117px #a5a5a5, 118px 118px #a5a5a5, 119px 119px #a5a5a5;
}

.small-code {
	color: #707070;
	background-color: #fff;
	font-family: courier, monospace;
	font-size: 15px;
	letter-spacing: 0px;
	padding: 3px 5px;
	border-radius: 5px;
}

.jquery-link {
	color: #005e88;
	text-decoration: none;
}

.javascript-link {
	color: #065c00;
	text-decoration: none;
}

.lang-javascript {
	color: #444;
	font-family: courier, monospace;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 1px;
}

.paragraph {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 10px 0;
	padding: 0 20px;
}

.see-more a {
	color: #005e88;
	font-weight: 500;
	text-decoration: none;
}

.footer-disclaimer {
	font-size: 0.8rem;
	line-height: 1rem;
	color: #707070;
	margin: 20px 0;
	padding: 0 20px;
	text-align: center;
}

.active-link {
	background-color: #fff;
	color: #0053a5;
}

.show {
	display: block;
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
	.navigation-bar {
		background-color: #f0f0f0;
		color: #000;
	}
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #0b101f;
		color: #fff;
	}

	.navigation-bar {
		background-color: #101b2e;
		color: #fff;
	}

	.dropdown-btn {
		background-color: transparent;
		color: #fff;
	}

	.dropdown-menu {
		background-color: #333;
		color: #fff;
	}

	.sidebar {
		background-color: #101b2e;
	}

	.nav-link {
		color: #fff;
	}

	.nav-link:hover {
		background-color: #0b101f;
		color: #fff;
	}

	.document {
		background-color: #101b2e;
		color: #fff;
	}

	.see-more {
		color: #fff;
	}

	.jquery-link {
		color: #0379AE;
	}

	.javascript-link {
		color: #e0c608;
	}

	.lang-javascript {
		color: #fff;
	}

	.footer-disclaimer {
		color: #999;
	}

	.active-link {
		background-color: #0086b3;
		color: #fff;
	}

	.small-code {
		color: #A3DFFD;
		background-color: #0b101f;
	}

	.copy-to-clipboard {
		background-color: #0b101f;
	}
}

@media screen and (max-width: 1030px) {
	.images-jquery-vs-javascript {
		/* height: 313px; */
	}
}

@media screen and (max-width: 770px) {
	.navigation-bar {
		height: 70px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 10px 20px;
		-webkit-box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.sidebar {
		display: none;
	}

	.documentation-book {
		grid-template-areas: "document document";
		grid-template-columns: 1fr 1fr;
	}

	.images-jquery-vs-javascript {
		/* height: 345px; */
	}
}

@media only screen and (max-width: 430px) {
	.js-vs-jquery {
		font-size: 2rem;
		text-align: center;
	}

	.documentation-body h2,
	.documentation-body h3,
	.documentation-body h5 {
		font-size: 1.2rem;
		margin: 0 0 10px 0;
	}

	.paragraph {
		font-size: 1rem;
		margin: 10px 0 20px 0;
	}

	.footer-disclaimer {
		font-size: 0.65rem;
	}
}

@media screen and (max-width: 320px) {
	.images-jquery-vs-javascript {
		/* height: 150px; */
	}
}